# TFG

# Folders
assets/

# Files
epsilon_NTU.py
F_factor.py

# Cache files
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Logs and temporary files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
